*{
  box-sizing: border-box;
}

.App{
  margin: auto;
  max-width: 550px;
  max-height: 550px;
}

.main-header{
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  color: white;
}

.logo{
  display: flex;
  align-items: center;
}

.troll-logo{
  width: 31px;
  height: 26px;
  margin-right: 5px;
}

.header-title{
  font-family: "Karla", sans-serif;
  font-weight: 700;
  letter-spacing: -0.1em;
}

.course-title{
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 12px;
}